apiVersion: v1
data:
  # This value needed for generating urls inside notification text
  # example value: https://ci.health-samurai.io
  BASE_URL: - PUT-YOUR-VALUE-HERE -

  # Needed only in case of ci3 self-deploy
  # CHART_CONFIG: |
  #   replicaCount: 1
  #   hostName: https://mentrics-ci.health-samurai.io
  #   image:
  #     repository: healthsamurai/ci3
  #     tag: v_397f91f
  #   cacheBucket: ci3-cache
  #   service:
  #     args: ["server"]
  #     name: nginx
  #     type: NodePort
  #     externalPort: 80
  #     internalPort: 8888
  #   ingress:
  #     enabled: true
  #     annotations:
  #       kubernetes.io/ingress.class: nginx
  #       kubernetes.io/tls-acme: "true"
  #     hosts:
  #       - mentrics-ci.health-samurai.io
  #     tls:
  #       - secretName: health-samurai-tls
  #         hosts:
  #           - mentrics-ci.health-samurai.io
kind: ConfigMap
metadata:
  annotations:
  name: ci3
  namespace: default
